# Hi, I am Calin Radoni

**... and I know that I should insert a nice image here** &#x1F643;

and I like to build things.

The newest project was the rebuilding of [calinradoni.github.io](https://calinradoni.github.io/)
using Astro and a custom CSS with responsive typography.

Before that I've built:

{% set repo = info.get_repo("CreamCSS") -%}
- {{ info.get_repo_namelink_md(repo, True) }}<br/>{{ info.get_repo_info(repo) }}
{% set repo = info.get_repo("RobotT1") -%}
- {{ info.get_repo_namelink_md(repo, True) }}<br/>{{ info.get_repo_info(repo) }}

and because some scripts may be worth keeping around:

{% set repo = info.get_repo("Scripts") -%}
- {{ info.get_repo_namelink_md(repo, True) }}<br/>{{ info.get_repo_info(repo) }}
{% set repo = info.get_repo("ansible-ubuntu-workstation") -%}
- {{ info.get_repo_namelink_md(repo, True) }}<br/>{{ info.get_repo_info(repo) }}

I am also ~~working~~ *playing* with ESP32, WS2812* LEDs and ESP-IDF, for those the current hardware and software projects are:

{% set repo = info.get_repo("pax-LampD1") -%}
- {{ info.get_repo_namelink_md(repo, True) }}<br/>{{ info.get_repo_info(repo) }}
{% set repo = info.get_repo("pax-Gateway") -%}
- {{ info.get_repo_namelink_md(repo, True) }}<br/>{{ info.get_repo_info(repo) }}

For those I have built two GitHub Actions as a side project:

{% set repo = info.get_repo("esp-idf-v4-container-action") -%}
- {{ info.get_repo_namelink_md(repo, False) }}<br/>{{ info.get_repo_info(repo) }}
{% set repo = info.get_repo("esp-idf-v4-action") -%}
- {{ info.get_repo_namelink_md(repo, False) }}<br/>{{ info.get_repo_info(repo) }}

and some ESP-IDF components like:

{% for repo in info.esp_components -%}
- {{ info.get_repo_namelink_md(repo, False) }}<br/>{{ info.get_repo_info(repo) }}
{% endfor %}

Not as much as I want, I am writing about various subjects at [CalinRadoni.github.io](https://github.com/CalinRadoni/CalinRadoni.github.io)

At work I am doing mostly system engineering, network administration, engineering and security.

## About this page

[![README Builder](https://github.com/CalinRadoni/CalinRadoni/actions/workflows/builder.yml/badge.svg)](https://github.com/CalinRadoni/CalinRadoni/actions/workflows/builder.yml)
This repository contains a **GitHub Actions workflow** that generates the `README.md` page from a
[Jinja2](https://palletsprojects.com/p/jinja) template using a [Python](https://www.python.org) script.

For a fast start with Python development in Visual Studio Code see the [Python and VSCode 101](https://calinradoni.github.io/pages/201008-python-and-vscode-101.html) document.

## License

This repository is licensed with the [MIT License](LICENSE).
